---
import SongListEditor from '@/components/songlist/SongListEditor.vue'
import Layout from '@/layouts/Layout.astro';
---

<Layout>
    <a href="/">首页</a>
    <SongListEditor client:load />
</Layout>
