---
import background from '../assets/background.svg'
import { createAstroComponentLoader } from './componentLoader.ts'

import Test from './Test.vue'

const loader = createAstroComponentLoader('/src/components/AAA.astro')
const AAA = await loader();
---

<div id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <AAA />
  <Test client:load />
</div>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  #container {
    font-family:
      Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
      sans-serif;
    height: 100%;
  }
</style>
