---
// import { ClientRouter } from 'astro:transitions'
import ThemeToggle from '../components/ThemeToggle.vue'
import { loadSiteConfig } from '../config/site'

const config = await loadSiteConfig();
---

<!doctype html>
<html
  lang={config.language}
  class="m-0 w-full h-full bg-[var(--el-fill-color-blank)]"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{config.title}</title>

        <!-- TODO 暗色模式切换动画会和这个打架 -->
        <!-- <ClientRouter /> -->

        <style is:global>
            ::view-transition-new(root) {
                animation-duration: .7s;
                animation-name: theme-expand-in;
            }

            ::view-transition-old(root) {
                animation-name: none;
            }

            @keyframes theme-expand-in {
                from {
                    clip-path: circle(0 at 100% 0);
                }
                to {
                    clip-path: circle(var(--radius-end) at 100% 0);
                }
            }
        </style>
    </head>
    <body class="m-0 w-full h-full">
        <div class="fixed right-4 top-4 z-50">
            <ThemeToggle client:load />
        </div>
        <slot />
    </body>
</html>
